html {
  scroll-padding-top: 4.5em;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
  line-height: 1.6;
  font-size: 16px;
  background:  #eef4ec; /* #eadfec; */
  color: #3f454b;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

body > .p-menubar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
}

#home {
  height: 100vh;
  margin-top: 4rem;
  vertical-align: center;
}