.availableTimeButton {
    margin: 0.35rem;
    background-color: transparent;
    border-color: #AB78B1;
    color: #AB78B1;
    
}

.availableTimeButton:hover, .selectedTimeButton:hover {
    background-color: #AB78B1 !important;
    border-color: #AB78B1 !important;
    color: #ffff !important;
}

.selectedTimeButton {
    margin: 0.35rem;
    background-color: #AB78B1;
    border-color: #AB78B1;
    color: #ffff;
}

.buttonsContainer {
    max-width: 450px;
    margin: auto;
}

.confirmButton {
    margin: 2rem; 
    padding: 1rem;
    border: 2px solid black;
    background-color: #9e63a5;
}

.confirmButton:hover {
    background-color: hsl(294, 27%, 55%) !important;
    border-color: black !important;
}

.confirmButton:active {
    background-color: hsl(294, 27%, 55%) !important;
    border-color: hsl(294, 27%, 55%) !important;
}