@import url('https://fonts.googleapis.com/css2?family=Borel&family=Comfortaa:wght@700&family=Dancing+Script:wght@700&display=swap');
html {
  scroll-padding-top: 5em;
  scroll-behavior: smooth;
  margin: 1rem;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
  line-height: 1.6;
  font-size: 16px;
  background:  var(--background-color); /*#eef4ec; */
  color: #3f454b;  
}

body {
  margin: auto;
  max-width: 70%;
}

* {
  box-sizing: border-box;
}

#mainTitle {
  font-family: 'Comfortaa', cursive;
  font-size: 2rem;
  font-stretch: extra-expanded;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

body > .p-menubar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
}

#home {
  height: 100vh;
  padding: 1rem;
  vertical-align: center;
  background-image: 
    linear-gradient(to bottom right, var(--background-color) 25%, transparent 60%), 
    linear-gradient(to left, var(--background-color), transparent 10%),
    linear-gradient(to right, var(--background-color), transparent 10%),
    linear-gradient(to top left, var(--background-color) 5%, transparent 25%), 
    url("/images/bg-main3.jpg");
  background-position: 0% 70%;
  background-size: cover; /* Resize the background image to cover the entire container */
}

@media screen and (max-width: 800px) {
  body {
  max-width: 100%;
  }
  #home {
    /* background-image: 
      linear-gradient(to bottom, var(--background-color) 35%, transparent 55%),
      linear-gradient(to left, var(--background-color), transparent 15%),
      linear-gradient(to top, var(--background-color), transparent 35%),
      linear-gradient(to right, var(--background-color), transparent 15%),
      url("/images/bg-main.jpg"); */
    background-image: radial-gradient(circle, transparent 60%, var(--background-color) 90%),
    linear-gradient(to left, var(--background-color), transparent 15%),
    linear-gradient(to right, var(--background-color), transparent 15%),
    linear-gradient(to bottom, var(--background-color) 20%, transparent 65%),
    url("/images/bg-main3.jpg");
    background-position:50% 0%;
    background-size: cover; /* Resize the background image to cover the entire container */
  }
}

.cursiveTitle {
  font-family: "borel", cursive;
}