@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-padding-top: 3.5em;
  scroll-behavior: smooth;
  margin: 0rem;
}

html,
body {
  font-family: 'Gabarito', sans-serif, roboto;
  line-height: 1;
  font-size: 16px;
  background:  var(--background-color); /*#eef4ec; */
  color: #62468f;
}

body {
  margin: auto;
  max-width: 100%;
}

#mainTitle {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
  color: #2e504c;
}

#home > h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

#home > p, #home > h3 {
  margin: 1.5rem auto;
  font-size: 1.6rem;
  color: #2e504c;
}


.cursiveTitle {
  font-family: "borel", cursive;
  margin: 0.75rem;
  text-align: center;
  display: block;
  font-size: 3rem;
  position: relative;
}
.cursiveTitle::after {
  content: '';
  position: absolute;
  top: calc(50% + 0.5rem);
  height: 5px;
  width: 2rem;
  background: hsl(19, 82%, 74%);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.cursiveSubtitle {
  font-family: "borel", cursive;
  font-size: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

body > .p-menubar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
}

#home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
  background-image: linear-gradient(to bottom, white 15%, transparent 100%), url("/images/bg-main2.jpg"); 
  background-position: 0% 72%;
  background-size: cover; /* Resize the background image to cover the entire container */
}

@media screen and (max-width: 950px) {
  body {
  max-width: 100%;
  }
  #home {
    background-position:50% 0%;
  }
}

#services {
  color: white;
  padding: 1.25rem;
  background-color: var(--primary-color);
  background-color: var(--primary-monochromatic);
  /* background-color: hsl(19, 82%, 74%); */
}

#contact {
  height: 100vh;
  padding: 1rem;
  margin-bottom: 2rem;
}

#logo {
  display: flex;
  align-items: center;
}

#logoImg1 { 
  height: 160px;
  margin-left: 1rem; 
  margin-top: 1rem;
} 

@media screen and (max-width: 950px) {
  #logoImg2 {
    display: none;
  }
}

#logoImg2 {
  height: 30px;
}

.logoImg1Shrinks {
  height: 60px !important;
  margin-left: 0 !important; 
  margin-top: 0 !important;
  transition: 0.5s;
}

.book-appointment-name-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-appointment-label {
  margin-top: 35px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

.book-appointment-input {
  padding: 0.5rem;
  margin-bottom: 25px;
  width: 400px;
  font-size: 1.3rem;
  border-radius: 6px;
}
