@import url('https://fonts.googleapis.com/css2?family=Borel&family=Comfortaa:wght@700&family=Dancing+Script:wght@700&family=Staatliches&display=swap');
html {
  scroll-padding-top: 3.5em;
  scroll-behavior: smooth;
  margin: 0rem;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
  line-height: 1.6;
  font-size: 16px;
  background:  var(--background-color); /*#eef4ec; */
  color: #3f454b;
}

body {
  margin: auto;
  max-width: 100%;
}

#mainTitle {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

#home > p, #home > h3, #home > a {
  margin: 3.5rem;
}
#home > a {
  margin-left: 8rem;
}

.cursiveTitle {
  font-family: "borel", cursive;
  margin: 0.75rem;
  text-align: center;
  display: block;
  font-size: 3rem;
  position: relative;
}
.cursiveTitle::after {
  content: '';
  position: absolute;
  top: calc(50% + 0.5rem);
  height: 5px;
  width: 2rem;
  background: var(--primary-color);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.cursiveSubtitle {
  font-family: "borel", cursive;
  font-size: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

body > .p-menubar {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
}

#home {
  height: 100vh;
  padding: 1rem;
  background-image: 
    linear-gradient(to bottom right, var(--background-color) 25%, transparent 60%), 
    linear-gradient(to left, var(--background-color), transparent 10%),
    linear-gradient(to right, var(--background-color), transparent 10%),
    linear-gradient(to top left, var(--background-color) 5%, transparent 25%), 
    url("/images/bg-main3.jpg");
  background-position: 0% 0%;
  background-size: cover; /* Resize the background image to cover the entire container */
}

@media screen and (max-width: 950px) {
  body {
  max-width: 100%;
  }
  #home {
    height: 95vh;
    background-image: radial-gradient(circle, transparent 60%, var(--background-color) 90%),
    linear-gradient(to left, var(--background-color), transparent 15%),
    linear-gradient(to right, var(--background-color), transparent 15%),
    linear-gradient(to bottom, var(--background-color) 20%, transparent 65%),
    url("/images/bg-main3.jpg");
    background-position:50% 10%;
    background-size: cover; /* Resize the background image to cover the entire container */
  }
}

#services {
  color: white;
  padding: 1.25rem;
  background-color: var(--primary-color);
  background-color: hsl(19, 82%, 74%);
}