 
.availableTimeButton {
    margin: 0.35rem;
    background-color: transparent;
    border-color: var(--primary-color);
    color: var(--text-color-secondary);
    
}

.availableTimeButton:hover, .selectedTimeButton:hover, .pButton:hover {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color-text) !important;
    color: var(--primary-color-text) !important;
}

.selectedTimeButton {
    margin: 0.35rem;
    background-color: var(--primary-color);
    border-color: var(--primary-color-text);
    color: var(--primary-color-text);
}

.buttonsContainer {
    max-width: 450px;
    margin: auto;
}

.confirmButton {
    margin: 2rem; 
    padding: 1rem;
    border: 2px solid black;
    background-color: #9e63a5;
}

.confirmButton:hover {
    background-color: var(--highlight-text-color) !important;
    border-color: black !important;
}

.pButton {
    color: #ffff;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0.75rem 1.5rem;
    margin: 3rem auto;
    max-width: 12rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;
    text-decoration: none !important;
  }

  .croppedImg {
    width: 150px; 
    height: 150px; 
    object-fit: cover;
    object-position: 25% 25%; 
    border-radius: 6px;
  }

.pCard {
    max-width: 50%;
    height: auto;
    background: #ffffff;
    color: #495057;
    box-shadow: 0 3px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    margin: 0.5rem;

}

.servicesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom: 3rem;
}

@media only screen and (min-width: 37.5em) {
    .servicesContainer {
      margin: 1rem 10% 3rem 10%;
    }
}

.mainContainer {
    max-width: 120rem;
    margin: auto;
    width: 92%;
}

.contactFormContainer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 4rem;
    max-width: 50rem;
    text-align: right;
    width: 100%;
    border-radius: 5px;
    margin: 1rem auto 1rem auto;
  }

  @media only screen and (max-width: 37.5em) {
    .contactFormContainer {
      padding: 1.5rem;
    }
}

  .contactFormField {
    margin-bottom: 2rem;
  }
  
  @media only screen and (max-width: 37.5em) {
    .contactFormField {
      margin-bottom: 1rem;
    }
  }
  
  .contactFormLabel {
    color: #666;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
  }
  
  .contactFormInput {
    color: #333;
    padding: 1.5rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: 1rem;
    letter-spacing: 0px;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
  }

  .contactButton {
    color: #ffff;
    background: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  @media only screen and (max-width: 37.5em) {
    .contactButton {
      width: 100%;
    }
  }